<div class="animated fadeIn">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .tile {
            padding: 20px;
            width: 97%;
            margin: 20px;
            background-color: white;
        }
        .qr{
            float:  right;
            position:relative;
            top:-300px;
            right:50px;
            height:300px;
            width:300px;
        }
    </style>
    <script type="application/javascript"></script>
    <div class="container w3-card-4 tile">
        <h1><span class="w3-tag w3-yellow">{{c.model}}</span></h1>
        <h3>{{c.make}}</h3>
        <h4><b>Serial Number : </b>{{c.sno}}</h4>
        <h4><b>Year of Manufacturing : </b>{{c.year}}</h4>
        <p><b>Rival : </b>{{c.rival}}</p>
        <p><b>Depo-Name :</b>{{c.deponame}}</p>
        <p><b>Catagory :</b>{{c.catagory}}</p>
        <p><b>Fuel : </b>{{c.fuel}}</p>
        <p><b>Hour Meter : </b>{{c.hmeter}}</p>
        <a class="w3-tooltip btn w3-round btn-danger del" href="/machine/{{c._id}}/delete">Delete</a>
        <img class="qr" src="http://qreateandtrack.com/files/2009/12/coupon.png">
        <hr>
        <a class="btn w3-round btn-primary" href="/">BACK</a>
    </div>
</div>