<div class="animated fadeIn">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .tile {
            padding: 20px;
            width: 97%;
            margin: 20px;
            background-color: white;
        }
    </style>
    <div class="container w3-card-4 tile">
        <h1><span class="w3-tag w3-yellow">{{c.model}}</span></h1>
        <h3>{{c.make}}</h3>
        <h4><b>Serial Number : </b>{{c.sno}}</h4>
        <h4><b>Year of Manufacturing : </b>{{c.year}}</h4>
        <p><b>Rival : </b>{{c.rival}}</p>
        <p><b>Depo-Name :</b>{{c.deponame}}</p>
        <p><b>Catagory :</b>{{c.catagory}}</p>
        <p><b>Fuel : </b>{{c.fuel}}</p>
        <p><b>Hour Meter : </b>{{c.hmeter}}</p>
        <a class="w3-tooltip btn w3-round btn-danger del" href="/index/{{c._id}}/delete">Delete</a>

        {{#each c.breakdowns}}
        <p><b>Site-Name : </b>{{this.site_name}}</p>
        <p><b>Site-Address : </b>{{this.site_address}}</p>
        <p><b>Contact : </b>{{this.phone_number}}</p>
        <p><b>Fault : </b>{{this.fault}}</p>
        <p><b>Parts : </b>{{this.parts}}</p>
        <p><b>Status : </b>{{this.solved}}</p>
        {{/each}}
        <hr>
        <a class="btn w3-round btn-primary" href="/">BACK</a>
    </div>
</div>